body {
    margin-top: 90px;
    text-align: center;
    justify-content: center;
    background-color: black;
}

.container {
    padding-top: 30px;
    background-color: rgb(46, 37, 37);
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    justify-content: center;
    flex-direction: column; 
    width: 350px;
}
